*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.genre-row{
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding:20px;
}

.genre-row::-webkit-scrollbar{
  display: none;
}

.movie-card{
  /* font-size: 1.5rem;
  border: 1px solid black;
  border-radius: 8px;
  padding: 0.5rem 1rem; */
  margin-right: 10px;
  transition: all 0.4s ease;
}

.movie-card:hover{
  transform: scale(1.08,1.08);
}

.movie-poster{
  height: 100px;
  object-fit: cover;
}